<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>
    <ul>
        <% products.forEach(product => { %>
            <li><%=  product.name.charAt(0).toUpperCase() + product.name.slice(1) %> - <%= product.price %> (<%= product.quantity %>) = <%= product.totalValue %></li>
        <% }) %>
    </ul>
</body>
</html>